/m4
/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/miLogger.pc
/missing
/debian/metlibs-milogger-dev.debhelper.log
/debian/metlibs-milogger-dev.substvars
/debian/metlibs-milogger-dev
/debian/files
