Source: metlibs-common-milogger
Priority: optional
Maintainer: Borge Moe <borge.moe@met.no>
Build-Depends:  debhelper (>= 7), autotools-dev, g++, 
  autoconf (>=2.61), automake (>= 1.10), libtool (>= 1.5),
  liblog4cpp5-dev
Standards-Version: 3.7.3
Section: libs

Package: metlibs-milogger-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, liblog4cpp5-dev
Description: metlibs logging
 metlibs logging library
